@model string

<div class="text-center">
    <h1>@ViewBag.Title</h1>
    <div id="player"></div>
    <div id="status"></div>
    <div id="time"></div>
</div>

@section scripts {
    <script src="~/js/youtube/@Model"></script>
}